<div class="container">
      <div class="bg-light p-5 rounded">
        	<h1><%= _title %></h1>
          <p class="lead"><%= _description %></p>
      </div>

	  <% if _overview %>
      	<div class="row">
        	<div class="col">
        		<h3 id="overview">Overview</h3>
          		<%= _overview %>
        	</div>
      	</div>
	  <% end %>

      <div class="row">
        <div class="col">
          <h3>Queries</h3>
          <p>This set of documentation covers <strong><%= @queries.size %></strong> queries</p>
          <table class="table">
            <thead>
            	<tr>
            		<th>Title</th><th>Source Path</th>
            	</tr>
            </thead>
            <tbody>
           		<% @queries.each do |query| %>
           		<tr>
           		  <td><a href="<%= query.output_filename %>"><%= query.title %></a></td><td><code><%= query.path %></code></td>
           		</tr>
           		<% end %>
			</tbody>
          </table>
        </div>
      </div>

</div>
