<div class="container-fluid">
  <div class="row">

    <div class="col-md-auto">
      <% if children.any? %>
        <h4>Collections</h4>
        <ul>
          <% children.each do |child| %>
            <li>
              <a href="<%= child? ? "../" : "./" %><%= asset_path( child.path ) %>/index.html"><%= child.title %></a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if queries.any? %>
        <h4>Queries</h4>
        <ul>
          <% queries.each do |query| %>
            <li>
              <a href="<%= query.output_filename %>"><%= query.title %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="col">
      <div class="bg-light p-5 rounded">
        	<h1><%= title %></h1>
          <p class="lead"><%= description %></p>
      </div>
      <% if overview %>
        	<div class="row">
          	<div class="col">
            	<%= overview %>
          	</div>
        	</div>
  	  <% end %>
    </div>

  </div>
</div>
