<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= title %></title>

    <%= script_link("jquery.js") %>
    <%= script_link("bootstrap.min.js") %>
    <%= script_link("codemirror.js") %>
    <%= script_link("mode/clike/clike.js") %>
    <%= script_link("util/multiplex.js") %>

    <%= stylesheet("bootstrap.min.css") %>
    <%= stylesheet("codemirror.css") %>

    <style type="text/css">
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      main > .container {
        padding: 60px 15px 0;
      }
    </style>

  </head>


  <body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><%= title %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <% if overview %>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html#overview">Overview</a>
                  </li>
                <% end %>
                <% if metadata["extra-files"] %>
        		  	  <% metadata["extra-files"].each do |file| %>
                    <li class="nav-item">
                      <a class="nav-link" href="<%= file.gsub(".md", ".html") %>"><%= file.gsub(".md", "").capitalize %></a>
                    </li>
        		  	  <% end %>
        		  	<% end %>
              </ul>
            </div>
          </div>
        </nav>
    </header>

      <main class="flex-shrink-0">
       <%= yield %>
      </main>

       <footer class="footer mt-auto py-3 bg-light">
         <div class="container">
           <span class="text-muted">Generated with <a href="http://github.com/ldodds/overpass-doc">overpass-doc</a>.</span>
         </div>
       </footer>


  </body>
</html>
