<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%= stylesheet("codemirror.css") %>

    <%= script_link("codemirror.js") %>
    <%= script_link("mode/clike/clike.js") %>
    <%= script_link("util/multiplex.js") %>


    <style type="text/css">
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      main > .container {
        padding: 60px 15px 0;
      }
    </style>

  </head>


  <body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <% if child? %>
              <span class="navbar-brand" href="/"><%= @generator.package.title %> | <%= title %></span>
            <% else %>
              <span class="navbar-brand" href="/"><%= title %></span>
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <% if child? && parent.metadata["extra-files"] %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= parent.metadata["extra-files"]["label"] %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <% parent.metadata["extra-files"]["files"].each do |file| %>
                          <a class="dropdown-item" href="<%= file["file"].gsub(".md", ".html") %>"><%= file["label"] %></a>
            		  	  <% end %>
                    </div>
                  </li>
        		  	<% end %>
                <% if metadata["extra-files"] %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= metadata["extra-files"]["label"] %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <% metadata["extra-files"]["files"].each do |file| %>
                          <a class="dropdown-item" href="<%= file["file"].gsub(".md", ".html") %>"><%= file["label"] %></a>
            		  	  <% end %>
                    </div>
                  </li>
        		  	<% end %>
              </ul>
              <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Packages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="<%= child? ? "../index.html" : "index.html" %>">Home</a>
                      <% generator.package.children.each do |child| %>
                        <a class="dropdown-item" href="<%= child? ? "../" : "./" %><%= asset_path( child.path ) %>/index.html"><%= child.title %></a>
                      <% end %>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>

      <main class="flex-shrink-0">
       <%= yield %>
      </main>

       <footer class="footer mt-auto py-3 bg-light">
         <div class="container">
           <span class="text-muted">Generated with <a href="http://github.com/ldodds/overpass-doc">overpass-doc</a>.</span>
         </div>
       </footer>


  </body>
</html>
