<div class="container-fluid">
  <div class="row">

    <div class="col-md-auto">
      <% if children.any? %>
        <h4>Collections</h4>
        <ul>
          <% children.each do |child| %>
            <li>
              <a href="<%= child? ? "../" : "./" %><%= asset_path( child.path ) %>/index.html"><%= child.title %></a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if queries.any? %>
        <h4>Queries</h4>
        <ul>
          <% queries.each do |query| %>
            <li>
              <a href="<%= query.output_filename %>"><%= query.title %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col">
          <h2 property="title"><%= query.title %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
					<textarea id="overpass" cols="120"><%= query.query %></textarea>
          <div class="float-right">
            <a class="btn btn-primary" href="https://overpass-turbo.eu/?Q=<%= query.query_string %>&R" target="_blank">
                <i class="bi bi-play"></i>Run
            </a>
          </div>
					<script>
            CodeMirror.defineMIME("text/x-overpassQL", {
              name: "clike",
              keywords: (function (str) {
                var r = {};
                var a = str.split(" ");
                for (var i = 0; i < a.length; i++) r[a[i]] = true;
                return r;
              })(
                "out json xml custom popup timeout maxsize bbox" + // initial declarations
                  " date diff adiff" + //attic declarations
                  " foreach" + // block statements
                  " relation rel way node is_in area around user uid newer changed poly pivot nwr derived" + // queries
                  " out meta body skel tags ids count qt asc" + // actions
                  " center bb geom" // geometry types
                //+"r w n br bw" // recursors
              )
            });
            CodeMirror.defineMIME("text/x-overpassXML", "xml");
            CodeMirror.defineMode("xml+mustache", function (config) {
              return CodeMirror.multiplexingMode(
                CodeMirror.multiplexingMode(CodeMirror.getMode(config, "xml"), {
                  open: "{{",
                  close: "}}",
                  mode: CodeMirror.getMode(config, "text/plain"),
                  delimStyle: "mustache"
                }),
                {
                  open: "{{style:",
                  close: "}}",
                  mode: CodeMirror.getMode(config, "text/css"),
                  delimStyle: "mustache"
                }
              );
            });
            CodeMirror.defineMode("ql+mustache", function (config) {
              return CodeMirror.multiplexingMode(
                CodeMirror.multiplexingMode(
                  CodeMirror.getMode(config, "text/x-overpassQL"),
                  {
                    open: "{{",
                    close: "}}",
                    mode: CodeMirror.getMode(config, "text/plain"),
                    delimStyle: "mustache"
                  }
                ),
                {
                  open: "{{style:",
                  close: "}}",
                  mode: CodeMirror.getMode(config, "text/css"),
                  delimStyle: "mustache"
                }
              );
            });
					  var editor = CodeMirror.fromTextArea(document.getElementById("overpass"), {
						    autofocus: false,
						    readOnly: true,
                mode: "ql+mustache",
						    lineNumbers: true,
                lineWrapping: true,
                matchBrackets: true,
                closeTagEnabled: true,
                closeTagIndent: [
                  "osm-script",
                  "query",
                  "union",
                  "foreach",
                  "difference"
                ]
						  });
					</script>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <% if query.description %>
						<p property="description"><%= query.description(true) %></p>
					<% end %>

          <table class="table">
            <thead>
              <th>Property</th><th>Value</th>
            </thead>
            <tbody>
              <tr>
                <td>Source File</td><td><a href="<%= query.path %>"><code><%= query.path %></code></a></td>
              </tr>
              <tr>
                <td>Links</td>
                <td>
                  <% if query.see.any? %>
                    <ul class="list-unstyled">
                      <% query.see.each do |see| %>
          					       <li><a href="<%= see %>"><%= see %></a></li>
          					  <% end %>
                    </ul>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Authors</td>
                <td>
                  <% if query.author.any? %>
                    <ul class="list-unstyled">
                      <% query.author.each do |author| %>
          					       <li><span><%= author %></span></li>
          					  <% end %>
                    </ul>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>
                  <% if query.tags.any? %>
                    <ul class="list-unstyled">
                      <% query.tags.each do |tag| %>
          					       <li><span><%= tag %></span></li>
          					  <% end %>
                    </ul>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
