<div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
              <div id="query-viewer">
					<h2 property="title"><%= query.title %></h2>
					<% if query.description %>
						<p property="description"><%= query.description(true) %></p>
					<% end %>

          <h4>Query</h4>

					<textarea id="overpass" cols="120" rows="50"><%= query.query %></textarea>
					<script>
            CodeMirror.defineMIME("text/x-overpassQL", {
              name: "clike",
              keywords: (function (str) {
                var r = {};
                var a = str.split(" ");
                for (var i = 0; i < a.length; i++) r[a[i]] = true;
                return r;
              })(
                "out json xml custom popup timeout maxsize bbox" + // initial declarations
                  " date diff adiff" + //attic declarations
                  " foreach" + // block statements
                  " relation rel way node is_in area around user uid newer changed poly pivot nwr derived" + // queries
                  " out meta body skel tags ids count qt asc" + // actions
                  " center bb geom" // geometry types
                //+"r w n br bw" // recursors
              )
            });
            CodeMirror.defineMIME("text/x-overpassXML", "xml");
            CodeMirror.defineMode("xml+mustache", function (config) {
              return CodeMirror.multiplexingMode(
                CodeMirror.multiplexingMode(CodeMirror.getMode(config, "xml"), {
                  open: "{{",
                  close: "}}",
                  mode: CodeMirror.getMode(config, "text/plain"),
                  delimStyle: "mustache"
                }),
                {
                  open: "{{style:",
                  close: "}}",
                  mode: CodeMirror.getMode(config, "text/css"),
                  delimStyle: "mustache"
                }
              );
            });
            CodeMirror.defineMode("ql+mustache", function (config) {
              return CodeMirror.multiplexingMode(
                CodeMirror.multiplexingMode(
                  CodeMirror.getMode(config, "text/x-overpassQL"),
                  {
                    open: "{{",
                    close: "}}",
                    mode: CodeMirror.getMode(config, "text/plain"),
                    delimStyle: "mustache"
                  }
                ),
                {
                  open: "{{style:",
                  close: "}}",
                  mode: CodeMirror.getMode(config, "text/css"),
                  delimStyle: "mustache"
                }
              );
            });
					  var editor = CodeMirror.fromTextArea(document.getElementById("overpass"), {
						    height: "250px",
						    width: "250px",
						    autofocus: false,
						    readOnly: true,
                mode: "ql+mustache",
						    lineNumbers: true,
                lineWrapping: true,
                matchBrackets: true,
                closeTagEnabled: true,
                closeTagIndent: [
                  "osm-script",
                  "query",
                  "union",
                  "foreach",
                  "difference"
                ]
						  });
					</script>

          <h4>Options</h4>

					<ul>
					    <li>
					      <a href="https://overpass-turbo.eu/?Q=<%= query.query_string %>&R" target="_blank">Run in Overpass Turbo</a>
					    </li>
              <li>
                <a href="<%= query.path %>">Download query</a>
              </li>
					</ul>

          <h4>Metadata</h4>
          <dl>
					  <dt>Source File</dt>
					  <dd><code><%= query.path %></code></dd>
					  <% query.author.each do |author| %>
					  <dt>Author</dt>
					  <dd><span property="creator"><%= author %></span></dd>
					  <% end %>
					  <% query.see.each do |see| %>
					  <dt>Link</dt>
					  <dd><a href="<%= see %>"><%= see %></a></dd>
					  <% end %>
					  <% if query.tags.length > 0 %>
					  	<dt>Tag</dt>
					  	<dd>
					  	   <%= query.tags.map{|x| "<span property=\"subject\">#{x}</span>" }.join(", ") %>
					  	</dd>
					  <% end %>
					</dl>

              </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

</div>
